/* 
    Created on : 08-May-2014, 11:17:21
    Author     : Daniel Silovsky
*/
@import "../modules/_typography.scss";

html {
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
	color: $color-text-background-light;
}

