{block #content}

{define #cssPath}
/css/sign.css
{/define}

<div class="center">
{form signInForm}
	<div>
		{input username}
	</div>
	<div>
		{input password}
	</div>
	<div>
		{input remember} {label remember /}
	</div>
	<div>
		{input signin}
	</div>
{/form}
</div>