{extends '../../../templates/@layout.latte'}

{define #cssPath}
/css/signup.css
{/define}

{block content}
<div id="contentSignup">
	<div id="progressBar">
		<ul>

			<li n:class="$presenter->isLinkCurrent('Signup:Credentials') ? current">Credentials</li>
			<li>&blacktriangleright;</li>
			<li n:class="$presenter->isLinkCurrent('Signup:Setup') ? current">Shift pattern</li>
		</ul>
	</div>
	<h1>Sign up</h1>
	{include #contentSignup}
</div>