.center {
	margin: 0 auto;
	width: 300px;
}
form {
	div {
		width: 100%;
	}
}
input {
	padding: 0 10px;
	margin-top: 30px;
	&[type="text"], &[type="password"] {		
		height: 40px;
		width: 100%;
	}
	
	&[type="submit"] {
		background-color: $color-highlight;
		border: 0;
		color: $text-color-highlight;
		padding: 5px 10px;
	}
	
}