{extends '@layout.latte'}

{define #cssPath}
/css/account.css
{/define}

{block content}
<div class="barSide">
	<h1><a>Account</a></h1>
	<ul>
		<li n:class="$presenter->isLinkCurrent('Account:Credentials') ? current"><a n:href=":Front:Account:Credentials">Credentials</a></li>
		<li n:class="$presenter->isLinkCurrent('Account:Setup') ? current"><a n:href=":Front:Account:Setup">Shift pattern</a></li>
	</ul>
</div>
<div id="contentAccount">
	
	{include #contentAccount}
</div>